.follow {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: #000000;
  align-content: center;
  flex-wrap: nowrap;
  gap: 2rem;

  h1 {
    width: 50%;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    font-weight: 400;
    font-style: normal;
    font-family: "Goblin One", sans-serif;
    color: #acb0bd;
    font-size: 48px;
    letter-spacing: 0em;
    line-height: 1.2;
    text-align: center;
    // border: 1px solid red;
  }

  span {
    width: 480px;
    height: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    max-width: 100%;
    overflow: visible;
    font-weight: 400;
    font-style: normal;
    font-family: "Playfair", "Playfair Placeholder", serif;
    color: #d9dbf1;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1.5;
    text-align: center;
  }

  .input {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    input {
      background-color: #0e0e0e;
      padding: 1rem 0.5rem;
      border: none;
      outline: none;
      border-radius: 0.7rem;
      width: 15rem;
      font-size: 1.1rem;
    }

    button {
      padding: 1rem;
      background-color: #d9dbf1;
      border-radius: 0.5rem;
      outline: none;
      border: none;
    }
  }
}

@media (min-width:810px) {
  .follow {
    padding: 2rem;
   
    gap: 4rem;
  
    h1 {
      width: 100%;
      font-size: 48px;
    }
  
    span {
      width: 100%;
     
      font-size: 1.5rem;
    
    }
  
    .input {
      gap: 2rem;
  
      input {
        width: 20rem;
      }
  
      button {

      }
    }
  }
  
}

@media (min-width: 11999px) {
  .follow {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: #000000;
    align-content: center;
    flex-wrap: nowrap;
    gap: 2rem;
  
    h1 {
      width: 50%;
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-word;
      font-weight: 400;
      font-style: normal;
      font-family: "Goblin One", sans-serif;
      color: #acb0bd;
      font-size: 48px;
      letter-spacing: 0em;
      line-height: 1.2;
      text-align: center;
      // border: 1px solid red;
    }
  
    span {
      width: 480px;
      height: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
      word-break: break-word;
      max-width: 100%;
      overflow: visible;
      font-weight: 400;
      font-style: normal;
      font-family: "Playfair", "Playfair Placeholder", serif;
      color: #d9dbf1;
      font-size: 16px;
      letter-spacing: 0em;
      line-height: 1.5;
      text-align: center;
    }
  
    .input {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
  
      input {
        background-color: #0e0e0e;
        padding: 1rem 0.5rem;
        border: none;
        outline: none;
        border-radius: 0.7rem;
        width: 15rem;
        font-size: 1.1rem;
      }
  
      button {
        padding: 1rem;
        background-color: #d9dbf1;
        border-radius: 0.5rem;
        outline: none;
        border: none;
      }
    }
  }
}




@media (max-width: 430px) {
  .follow {
    width: 100%;
    padding: 1.5rem;
    gap: 2rem;
  
    h1 {
      width: 100%;
      font-size: 2rem;
      // border: 1px solid red;
    }
  
    span {
      width: 100%;
      color: #d9dbf1;
      font-size: 0.9rem;

    }
  
    .input {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 0.5rem;
  
      input {
        background-color: #0e0e0e;
        padding: 0.8rem 0.5rem;
        border: none;
        outline: none;
        border-radius: 0.7rem;
        width: 13rem;
        font-size: 1.1rem;
      }
  
      button {
        padding: 0.8rem;
        background-color: #d9dbf1;
        border-radius: 0.5rem;
        outline: none;
        border: none;
      }
    }
  }
  
}
