header {
  width: 100%;
  height: 100vh;
  //   background-color: #d0cdd7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    height: 600px;
    width: 620px;
    // margin-top: -15rem;
    z-index: 1;

    // img {
    //   height: 100%;
    //   width: 100%;
    //   object-fit: contain;
    //   animation: headerSlideIn 1.9s ease-in-out;
    //   @keyframes headerSlideIn {
    //     from {
    //       transform: translateX(-100%);
    //       opacity: 0;
    //     }
    //     to {
    //       transform: translateX(0);
    //       opacity: 1;
    //     }
    //   }
    // }
  }

  .tagline {
    // border: 1px solid red;
    width: 60%;
    animation: headerSlideInn 1.9s ease-in-out;
    @keyframes headerSlideInn {
      from {
        transform: translateX(100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    h1 {
      width: 100%;
      font-weight: 400;
      font-style: normal;
   
      color: #000000;
      font-size: 28.678187055797107px;
      text-transform: uppercase;
      line-height: 1;
      text-align: center;
    }
  }
}

@media (min-width: 810px) {
  header {
    padding: 0 2rem;
    // border: 1px solid red;

    .logo {
      // border: 1px solid red;

      img {
        // border: 1px solid red;
      }
    }

    .tagline {
      // border: 1px solid red;
      width: 100%;

      h1 {
        // border: 1px solid red;
      }
    }
  }
}

@media (min-width: 1199px) {
  header {
    width: 100%;
    height: 100vh;
    //   background-color: #d0cdd7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    .logo {
      height: 600px;
      width: 620px;
      // margin-top: -15rem;
      z-index: 1;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        -webkit-animation: text-focus-in 3s
          cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
        animation: text-focus-in 3.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
        @-webkit-keyframes text-focus-in {
          0% {
            -webkit-filter: blur(12px);
            filter: blur(12px);
            opacity: 0;
          }

          25%{
            -webkit-filter: blur(6px);
            filter: blur(6px);
            opacity: 0;
          }
          50%{
            -webkit-filter: blur(3px);
            filter: blur(3px);
            opacity: 0;
          }
          
          100% {
            -webkit-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
          }
        }
        @keyframes text-focus-in {
          0% {
            -webkit-filter: blur(12px);
            filter: blur(12px);
            opacity: 0;
          }
          100% {
            -webkit-filter: blur(0px);
            filter: blur(0px);
            opacity: 1;
          }
        }
      }
    }

    .tagline {
      // border: 1px solid red;
      width: 60%;

      h1 {
        width: 100%;
        font-weight: 400;
        font-style: normal;
       
        color: #000000;
        font-size: 28.678187055797107px;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;

        -webkit-animation: tracking-in-expand 6.7s
          cubic-bezier(0.215, 0.61, 0.355, 1) both;
        animation: tracking-in-expand 6.7s cubic-bezier(0.215, 0.61, 0.355, 1)
          both;

        @-webkit-keyframes tracking-in-expand {
          0% {
            letter-spacing: -0.5em;
            opacity: 0;
          }
          40% {
            opacity: 0.6;
          }
          100% {
            opacity: 1;
          }
        }
        @keyframes tracking-in-expand {
          0% {
            letter-spacing: -0.5em;
            opacity: 0;
          }
          40% {
            opacity: 0.6;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
  header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    .logo {
      height: 300px;
      width: 320px;
      z-index: 1;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
        -webkit-animation: text-focus-in 3s
        cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      animation: text-focus-in 3.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
      @-webkit-keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
          filter: blur(12px);
          opacity: 0;
        }

        25%{
          -webkit-filter: blur(6px);
          filter: blur(6px);
          opacity: 0;
        }
        50%{
          -webkit-filter: blur(3px);
          filter: blur(3px);
          opacity: 0;
        }
        
        100% {
          -webkit-filter: blur(0px);
          filter: blur(0px);
          opacity: 1;
        }
      }
      }
    }

    .tagline {
      // border: 1px solid red;
      width: 100%;
      animation: headerSlideInn 1.9s ease-in-out;
      @keyframes headerSlideInn {
        from {
          transform: translateY(100%);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }

      h1 {
        width: 100%;
        font-weight: 400;
        font-style: normal;
       
        color: #000000;
        font-size: 1rem;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
      }
    }
  }
}
