.thirdsection {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
  padding: 5rem;
  position: relative;

  .border {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .bottom {
    // border: 1px solid yellow;
    width: 100%;
  }

  .top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    .left {
      height: 300px;
      width: 500px;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      mix-blend-mode: luminosity;
      overflow: hidden;
      aspect-ratio: 0.98 / 1;
      background-size: cover;
      border-radius: 20px;

      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // border-radius: 0.4rem;
      }
    }

    .right {
      .h1 {
        width: 100%;
        height: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: break-word;
        overflow: visible;
        font-weight: 400;
        font-style: normal;
        font-family: "Goblin One", sans-serif;
        color: #acb0bd;
        font-size: 32px;
        letter-spacing: 0em;
        line-height: 1.2;

        &.active {
          -webkit-animation: tracking-in-expand-fwd 1.8s
            cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand-fwd 1.8s
            cubic-bezier(0.215, 0.61, 0.355, 1) both;

          @-webkit-keyframes tracking-in-expand-fwd {
            0% {
              letter-spacing: -0.5em;
              -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
              opacity: 0;
            }
            40% {
              opacity: 0.6;
            }
            100% {
              -webkit-transform: translateZ(0);
              transform: translateZ(0);
              opacity: 1;
            }
          }
          @keyframes tracking-in-expand-fwd {
            0% {
              letter-spacing: -0.5em;
              -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
              opacity: 0;
            }
            40% {
              opacity: 0.6;
            }
            100% {
              -webkit-transform: translateZ(0);
              transform: translateZ(0);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 810px) {
  .thirdsection {
    gap: 5rem;
    padding: 7rem 2rem;

    .bottom {
      // border: 1px solid yellow;
      width: 100%;
    }

    .top {
      gap: 5rem;
      .left {
        height: 250px;
        width: 610px;

        video {
        }
      }

      .right {
        h1 {
          font-size: 2rem;
        }
      }
    }
  }
}

@media (min-width: 1199px) {
  .thirdsection {
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    padding: 5rem;

    .bottom {
      // border: 1px solid yellow;
      width: 100%;
    }

    .top {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 5rem;
      .left {
        height: 300px;
        width: 500px;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        mix-blend-mode: luminosity;
        overflow: hidden;
        aspect-ratio: 0.98 / 1;
        background-size: cover;
        border-radius: 20px;

        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
          // border-radius: 0.4rem;
        }
      }

      .right {
        h1 {
          width: 100%;
          height: auto;
          white-space: pre-wrap;
          word-wrap: break-word;
          word-break: break-word;
          overflow: visible;
          font-weight: 400;
          font-style: normal;
          font-family: "Goblin One", sans-serif;
          color: #acb0bd;
          font-size: 32px;
          letter-spacing: 0em;
          line-height: 1.2;
        }
      }
    }
  }
}

@media (max-width: 430px) {
  .thirdsection {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    gap: 10rem;
    padding: 1.5rem;

    .bottom {
      // border: 1px solid yellow;
      width: 100%;
    }

    .top {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      .left {
        height: 200px;
        width: 310px;
        border-radius: 15px;

        video {
          height: 100%;
          width: 100%;
          object-fit: cover;
          // border-radius: 0.4rem;
        }
      }

      .right {
        // border: 1px solid red;
        width: 100%;
        h1 {
          width: 100%;
          font-weight: 400;
          font-style: normal;
          font-family: "Goblin One", sans-serif;
          color: #acb0bd;
          font-size: 1.5rem;
          line-height: 1.2;
        }
      }
    }
  }
}
